.popup__close {
    background-image: url(../../../images/close_icon.svg);
    min-width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: -36px;
    right: -40px;
    cursor: pointer;
}
.popup__close:hover {
    opacity: 0.6;
    transition: 0.3s;
}
.popup__close:focus {
    outline: none;
}

@media all and (max-width: 586px) {
    .popup__close {
        min-width: 26px;
        height: 26px;
        top: -35px;
        right: -5px;
    }
}
