.profile {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 51px;
}

@media all and (max-width: 936px) {
    .profile {
        max-width: 90%;
    }
}

@media all and (max-width: 586px) {
    .profile {
        max-width: 100%;
        flex-direction: column;
        margin-bottom: 36px;
    }
}
