.popup__fieldset {
    border: none;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin-bottom: 48px;
}

@media all and (max-width: 586px) {
    .popup__fieldset {
        margin-bottom: 45px;
    }
}
