.logo {
    max-width: 142px;
}

@media all and (max-width: 586px) {
    .logo {
        max-width: 116px;
        margin-left: 25px;
    }
}

@media all and (max-width: 320px) {
    .logo {
        max-width: 103.74px;
        margin-left: 27px;
    }
}
