.footer {
  font-family: "Inter", Arial, sans-serif;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #000000;
  background-size: 100%;
}

@media all and (max-width: 936px) {
  .footer {
    max-width: 90%;
    margin-bottom: 48px;
  }
}

@media all and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin-bottom: 36px;
  }
}
