.profile__text {
    padding-bottom: 25px;
    padding-top: 22px;
    padding-left: 30px;
}

@media all and (max-width: 586px) {
    .profile__text {
        max-width: 282px;
        margin: 0 auto;
        padding-bottom: 36px;
        padding-left: 0;
    }
}
