.profile__user {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 16px;
}

@media all and (max-width: 320px) {
    .profile__user {
        max-width: 282px;
        padding-bottom: 14px;
    }
}
